@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Jost:wght@200;400;600&display=swap');


body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  color: #000;
}